#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  width: 95%;
  text-align: center;
}

.navBarGrl{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* BRAND */
.brand{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brandLogo{
  max-width: 65px;
}
.brandTittle{
  margin: 0;
  color: #D36916;
}

/* NavBar */

.primaryNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 18px;
}
.primaryNav a {
  display: block;
  text-align: center;
  position: relative;
  color: #D36916;
  text-decoration: none;
}
.primaryNav a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all .8s;
}
  .primaryNav a:hover:after {
      width: 100%;
      background: #D36916;
  }

/* CartWidget */
.CartWidget{
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0 15px;
  background-color: #242424;
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 70px;
}